<script setup>

import {ref, inject, watch, onMounted, nextTick} from 'vue'
import {useRoute, useRouter} from 'vue-router'
import {closeEngTab, engTabStore} from "@/components/eng/utils/engTabStore.js"
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
const projectId =  112

const route = useRoute()
const router = useRouter()

const swiperRef = ref(null)
const dynamicWidth = ref('100px')

watch(() => engTabStore.tabs, () => { updateSwiper() }, {deep: true})
onMounted(async () => {
  await nextTick(async () => {
    dynamicWidth.value = await getAllTabWidth()
    swiperRef.value.swiper.update()
  })
})

async function updateSwiper() {
  await nextTick(async () => {
    dynamicWidth.value = await getAllTabWidth()
  })
  swiperRef.value.swiper.update()
}

async function getAllTabWidth() {
  const tabSwiper = document.querySelector('.stab-menu-list')
  const tabSliders = tabSwiper.getElementsByClassName('stab-menu-item-box')
  let slidersWidth = 0
  for ( let i=0; i<tabSliders.length; i++ ) {
    const slider = tabSliders[i]
    const w = window.getComputedStyle(slider).width.split('px')[0]
    slidersWidth += Number(w)
  }
  return slidersWidth + 'px !important'
}
</script>

<template>
  <div class="stab-menu-wrap">
    <div class="stab-menu-inner">
      <router-link class="go-main-btn" :class="{ 'on': route.name === 'EngHome' }"
                   :to="{ name: 'EngHome', params: { projectId: projectId } }">
        <span class="dis-none">Home</span>
      </router-link>
      <swiper-container slides-per-view="auto" free-mode="true" scrollbar="false" class="stab-menu-list" ref="swiperRef">
        <swiper-slide :style="{width: dynamicWidth}">
          <div class="swiper-slide">
            <div class="stab-menu-item-box" v-for="tab in engTabStore.tabs" :key="tab.path">
              <router-link :to="tab.path" class="stab-menu-item" :class="{ 'on': route.path === tab.path }">
                <span>{{ t(tab.title) }}</span>
              </router-link>
              <button class="stab-close" @click.prevent="closeEngTab(false, tab.path)"><span class="dis-none">Close</span></button>
            </div>
          </div>
        </swiper-slide>
        <swiper-scrollbar class="swiper-scrollbar swiper-scrollbar-horizontal"></swiper-scrollbar>
      </swiper-container>
    </div>
  </div>
</template>

<style scoped>

</style>