<script setup>
import { computed, inject, ref, watch } from "vue";
import router from "@/router/index.js";
import {
  initTabStore,
  closeEngTab,
  engTabStore,
} from "@/components/eng/utils/engTabStore.js";
import ProgramPref from "@/components/eng/pref/ProgramPref.vue";
import dayjs from "dayjs";
import { useRoute } from "vue-router";
import html2canvas from "html2canvas";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

const route = useRoute();
</script>

<template>
  <header id="header" class="header-wrap">
    <div class="header-inner">
      <swiper-container
        slides-per-view="auto"
        free-mode="true"
        scrollbar="true"
        class="header-menu-wrap"
      >
        <swiper-slide class="header-menu-inner" style="">
          <div class="swiper-slide">
            <div class="top-left header-item">
              <h1 class="logo-img"></h1>
              <div class="info-list">
                <!-- 상태값 확인필요 -->
                <span class="info-paths ellipsis">
                  {{ engTabStore.currentTab ? tabDescription : null }}
                </span>
              </div>
            </div>

            <div class="top-right">
              <div class="tnb-list header-item">
                <router-link
                  class="top-icon"
                  data-menu-icon="top-home"
                  :to="{ name: 'EngHome', params: { projectId: 12 } }"
                >
                  <span class="dis-none">Home</span>
                </router-link>
                <button
                  class="top-icon"
                  data-menu-icon="top-tab-close"
                  :title="t('ED_Comm_Tab_Close')"
                  @click="closeEngTab(false, route.path)"
                >
                  <span class="dis-none">{{ t("ED_Comm_Tab_Close") }}</span>
                </button>
                <button
                  class="top-icon"
                  data-menu-icon="top-alltab-close"
                  :title="t('ED_Comm_Tab_CloseAll')"
                  @click="closeEngTab(true)"
                >
                  <span class="dis-none">{{
                    t("CO_MAIN_Menu_Home_SaveScreen")
                  }}</span>
                </button>
                <button
                  class="top-icon"
                  data-menu-icon="top-img-save"
                  :title="t('ED_Comm_Tab_CloseAll')"
                  @click="screenShot"
                >
                  <span class="dis-none">{{ t("ED_Comm_Tab_CloseAll") }}</span>
                </button>
                <button
                  class="top-icon"
                  data-menu-icon="top-print"
                  :title="t('CO_MAIN_Menu_Home_Print')"
                  @click="printPage"
                >
                  <span class="dis-none">{{
                    t("CO_MAIN_Menu_Home_Print")
                  }}</span>
                </button>
              </div>
              <div class="select-wrap">
                <select name="projectIdList" class="select-type01"></select>
              </div>
              <div class="utill-wrap">
                <p class="utill-welcome">
                </p>
                <a
                  href=""
                  class="utill-setting"
                  @click.prevent="isOpenPref = true"
                >
                  <span class="dis-none">설정</span>
                </a>
                <!--로그아웃 테스트-->
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-scrollbar
          class="swiper-scrollbar swiper-scrollbar-horizontal"
        ></swiper-scrollbar>
      </swiper-container>
    </div>
  </header>
</template>

<style scoped>
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: var(--swiper-scrollbar-bottom, 2px);
}

.swiper-scrollbar {
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.3));
}

@page {
  size: A4 landscape;
  margin: 0;
}
</style>
