<template>
  <div>
    <h2>k-pop</h2>
    <hr />

    <ul>
      <CheckboxItem
        v-for="idol in idols"
        :key="idol.id"
        :idol="idol"
        @toggle="updateCheck(idol.id)"
      />
    </ul>
    <ul>
      {{
        count
      }}
    </ul>
  </div>
</template>

<script>
import CheckboxItem from "./components/CheckboxItem3.vue";
import Idol from "../src/Idol";
import EVhome from "../src/components/ElectricVehicleHome.vue";
export default {
  name: "App",
  components: {
    CheckboxItem,
  },
  data() {
    return {
      idols: [
        new Idol(1, "bts", true),
        new Idol(2, "black", false),
        new Idol(3, "jins", true),
        new Idol(4, "etc", false),
      ],
    };
  },
  computed: {
    count() {
      return this.idols.filter((idol) => idol.checked).length;
    },
  },
  methods: {
    updateCheck(id) {
      const idol = this.idols.find((i) => i.id === id);
      if (idol) {
        idol.checked = !idol.checked;
      }
    },
  },
};
</script>
