<script>
import { provide, ref } from "vue";
const theme = ref(null);
const loadTheme = () => {
  theme.value = localStorage.getItem("theme") || "theme-dark";
  document.body.className = theme.value;
};
loadTheme();
provide("loadTheme", loadTheme);
provide("theme", theme);

export default {
  name: "App2",
};
</script>

<style scoped></style>
<style src="@/assets/css/default-theme.css"></style>
<template>
  <!-- contain-wrap :s -->
  <div class="contain-wrap">
    <div class="contain-inner">
      <!-- contain-box :s -->
      <div class="contain-box scroll">
        <div class="contain-box-inner">
          <!-- contain title top :s -->
          <div class="c-top-wrap">
            <div class="c-top-inner">
              <p>
                <span> CO_MAIN_Menu_Platform_Soper_Ev </span>
              </p>
            </div>
          </div>
          <!-- contain title top :e -->
          <!-- contain main :s -->
          <div class="c-main-wrap">
            <div class="c-main-inner">
              <!-- main cont :s -->
              <div class="c-main-cont-wrap">
                <div class="c-main-cont-inner flex-column">
                  <div class="c-cont-wrap c-cont-col02">
                    <div class="c-cont-inner">
                      <div class="c-cont-title">
                        <span> CO_MAIN_Menu_Platform_Soper_Ev </span>
                      </div>

                      <div class="c-top-btn-wrap">
                        <button class="btn btn-refresh" @click="reload">
                          CO_MAIN_Menu_Home_Refresh
                        </button>
                        <button
                          class="btn btn-gradation"
                          @click="openNewStationPopup"
                        >
                          CO_Word_New
                        </button>
                        <button
                          :disabled="selectedStationIndex < 0"
                          class="btn btn-type05"
                          @click="openStationEditPopup"
                        >
                          CO_Button_Update
                        </button>
                        <button
                          :disabled="selectedStationIndex < 0"
                          class="btn btn-type04"
                          @click="deleteItem('station')"
                        >
                          CO_Button_Delete
                        </button>
                      </div>
                      <!-- contain inner top btn :e -->

                      <div class="c-cont-box cm-scroll">
                        <div class="c-cont-box-inner">
                          <div class="grid-wrap cm-scroll">
                            <table class="grid-table tb-type01">
                              <caption>
                                CO_MAIN_Menu_Platform_Soper_Ev
                              </caption>
                              <!-- {테이블 타이틀} 정보 -->
                              <colgroup>
                                <col style="width: 8rem" />
                                <col style="width: 15rem" />
                                <col />
                              </colgroup>
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>ID</th>
                                  <th>CO_Word_Name</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="(item, index) in evStationList"
                                  :key="index"
                                  @click="selectedStationIndex = index"
                                  :class="{
                                    focus: index === selectedStationIndex,
                                  }"
                                >
                                  <td>
                                    <input
                                      type="radio"
                                      class="tb-check"
                                      :value="index"
                                      v-model="selectedStationIndex"
                                    />
                                  </td>
                                  <td class="center">{{ item.evStationId }}</td>
                                  <td class="left">{{ item.evStationNm }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="c-cont-inner">
                      <div class="c-cont-title">
                        <span>OP_Ev_EvCharger</span>
                      </div>

                      <!-- contain inner top btn :s -->
                      <div class="c-top-btn-wrap">
                        <button
                          :disabled="selectedStationIndex < 0"
                          class="btn btn-gradation"
                          @click="openNewChargerPopup"
                        >
                          CO_Word_New
                        </button>
                        <button
                          :disabled="selectedChargerIndex < 0"
                          class="btn btn-type05"
                          @click="openChargerEditPopup"
                        >
                          CO_Button_Update
                        </button>
                        <button
                          :disabled="selectedChargerIndex < 0"
                          class="btn btn-type04"
                          @click="deleteItem('charger')"
                        >
                          CO_Button_Delete
                        </button>
                      </div>
                      <!-- contain inner top btn :e -->

                      <div class="c-cont-box cm-scroll">
                        <div class="c-cont-box-inner">
                          <div class="grid-wrap cm-scroll">
                            <table class="grid-table tb-type01">
                              <caption>
                                OP_Ev_EvCharger
                              </caption>
                              <!-- {테이블 타이틀} 정보 -->
                              <colgroup>
                                <col style="width: 5rem" />
                                <col style="width: 15rem" />
                                <col />
                                <col />
                              </colgroup>
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>ID</th>
                                  <th>CO_Word_Name</th>
                                  <th>OP_Ev_EvCapacity</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="(item, index) in evChargerList"
                                  :key="index"
                                  @click="selectedChargerIndex = index"
                                  :class="{
                                    focus: index === selectedChargerIndex,
                                  }"
                                >
                                  <td>
                                    <input
                                      type="radio"
                                      class="tb-check"
                                      name="ctrlDev"
                                      :value="index"
                                      v-model="selectedChargerIndex"
                                    />
                                  </td>

                                  <td class="center">{{ item.evChargerId }}</td>
                                  <td class="center">{{ item.evChargerNm }}</td>
                                  <td class="center">item.evChargerCap</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- main cont :e -->
            </div>
          </div>
          <!-- contain main :e -->
        </div>
      </div>
      <!-- contain-box :e -->
    </div>
  </div>
  <!-- contain-wrap :e -->
</template>

<style scoped>
</style>