<template>
  <Renderer ref="renderer" resize="window" orbit-ctrl pointer>
    <Camera :position="{ z: 200 }" />
    <Scene ref="scene">
      <AmbientLight color="#808080" />
      <PointLight color="#ff6000" />
      <PointLight ref="light" color="#0060ff" :intensity="0.5" />
      <PointLight color="#ff6000" :intensity="0.5" :position="{ x: 100 }" />
      <PointLight color="#0000ff" :intensity="0.5" :position="{ x: -100 }" />

      <InstancedMesh ref="imesh" :count="NUM_INSTANCES">
        <BoxGeometry :width="2" :height="2" :depth="10" />
        <StandardMaterial
          :props="{
            transparent: true,
            opacity: 0.9,
            metalness: 0.8,
            roughness: 0.5,
          }"
        />
      </InstancedMesh>
    </Scene>
    <EffectComposer>
      <RenderPass />
      <UnrealBloomPass :strength="1" />
      <HalftonePass :radius="1" :scatter="0" />
    </EffectComposer>
  </Renderer>
</template>

<script>
import { Object3D, MathUtils, Vector3 } from "three";
const { randFloat: rnd, randFloatSpread: rndFS } = MathUtils;

import {
  AmbientLight,
  BoxGeometry,
  Camera,
  EffectComposer,
  HalftonePass,
  InstancedMesh,
  PhongMaterial,
  PointLight,
  Renderer,
  RenderPass,
  StandardMaterial,
  Scene,
  Text,
  UnrealBloomPass,
} from "troisjs";

export default {
  components: {
    AmbientLight,
    BoxGeometry,
    Camera,
    EffectComposer,
    HalftonePass,
    InstancedMesh,
    PhongMaterial,
    PointLight,
    Renderer,
    RenderPass,
    StandardMaterial,
    Scene,
    Text,
    UnrealBloomPass,
  },
  setup() {
    const NUM_INSTANCES = 2000;
    const instances = [];
    const target = new Vector3();
    const dummyO = new Object3D();
    const dummyV = new Vector3();

    for (let i = 0; i < NUM_INSTANCES; i++) {
      instances.push({
        position: new Vector3(rndFS(200), rndFS(200), rndFS(200)),
        scale: rnd(0.2, 1),
        scaleZ: rnd(0.1, 1),
        velocity: new Vector3(rndFS(2), rndFS(2), rndFS(2)),
        attraction: 0.03 + rnd(-0.01, 0.01),
        vlimit: 1.2 + rnd(-0.1, 0.1),
      });
    }

    return {
      NUM_INSTANCES,
      instances,
      target,
      dummyO,
      dummyV,
    };
  },
  mounted() {
    this.renderer = this.$refs.renderer;
    this.imesh = this.$refs.imesh.mesh;
    this.light = this.$refs.light.light;
    this.scene = this.$refs.scene;
    this.init();
  },
  methods: {
    init() {
      // init instanced mesh matrix
      for (let i = 0; i < this.NUM_INSTANCES; i++) {
        const { position, scale, scaleZ } = this.instances[i];
        this.dummyO.position.copy(position);
        this.dummyO.scale.set(scale, scale, scaleZ);
        this.dummyO.updateMatrix();
        this.imesh.setMatrixAt(i, this.dummyO.matrix);
      }
      this.imesh.instanceMatrix.needsUpdate = true;

      // animate
      this.renderer.onBeforeRender(this.animate);
    },
    loadFontAndCreateText() {
      // Load the font using FontLoader
      const loader = new FontLoader();
      loader.load(
        // Path to the font file (ensure you have the file in your public folder or assets)
        "https://threejs.org/examples/fonts/helvetiker_regular.typeface.json",
        (font) => {
          // Create TextGeometry
          const textGeometry = new TextGeometry("Hello, Three.js!", {
            font: font,
            size: 50, // Text size
            height: 2, // Text depth
            curveSegments: 12, // Number of segments for curves
            bevelEnabled: true, // Enable bevel
            bevelThickness: 1, // Bevel thickness
            bevelSize: 0.5, // Bevel size
            bevelSegments: 5, // Number of bevel segments
          });

          // Create material
          const material = new THREE.MeshStandardMaterial({
            color: 0xffffff, // Tomato color
            metalness: 0.8,
            roughness: 0.4,
          });

          // Create the mesh
          this.textMesh = new THREE.Mesh(textGeometry, material);

          // Position the text
          this.textMesh.position.set(0, 0, 0);

          this.scene.add(this.textMesh);
        }
      );
    },
    animate() {

      this.loadFontAndCreateText;
      const { pointer } = this.renderer.three;
      this.target.copy(pointer.positionV3);
      this.light.position.copy(this.target);

      for (let i = 0; i < this.NUM_INSTANCES; i++) {
        const { position, scale, scaleZ, velocity, attraction, vlimit } =
          this.instances[i];

        this.dummyV
          .copy(this.target)
          .sub(position)
          .normalize()
          .multiplyScalar(attraction);
        velocity.add(this.dummyV).clampScalar(-vlimit, vlimit);
        position.add(velocity);

        this.dummyO.position.copy(position);
        this.dummyO.scale.set(scale, scale, scaleZ);
        this.dummyO.lookAt(this.dummyV.copy(position).add(velocity));
        this.dummyO.updateMatrix();
        this.imesh.setMatrixAt(i, this.dummyO.matrix);
      }
      this.imesh.instanceMatrix.needsUpdate = true;
    },
  },
};
</script>
