<template>
    <div>
        <h2> test page </h2>
        <div class="row">
            <div v-for="m in members" :key="m.id">
                {{m.name}} <br />
            </div>
        </div>
    </div>
</template>

<script>
import members from '@/members.json'

export default {
    name : "Test",
    setup (){
        return {members};
    }
}
</script>