<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>03-12</title>
        <style>
            #list {width : 600px; border:1px solid black; border-collapse:collapse;}
            #list td, #list th { border:1px solid black; text-align:center; }
            #list > thead > tr {color:yellow; background-color:purple;}
        </style>
    </head>
    <body>
        <div id="app">
            <table id = "list">
                <thead>
                    <tr>
                        <th>번호</th><th>이름</th><th>전화번호</th>
                    </tr>
                </thead>
                <tbody id="contacts">
                    <tr v-for="contact in contacts" :key="contact.no">
                        <td>{{contact.no}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.tel}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src ="../js/vue.min.js"></script>
        <script type="text/javascript">
            var vm = Vue.createApp({
                name : "App",
                data(){
                    return{
                        "pageno" : 1,
                        "pagesize" : 4,
                        "totalcount" : 100,
                        "contacts" : [
                            { "no" : 1011, "name" : "RM", "tel": "010-1123-1234"},
                            { "no" : 1012, "name" : "JK", "tel": "010-1123-1234"},
                            { "no" : 1013, "name" : "JH", "tel": "010-1123-1234"},
                            { "no" : 1014, "name" : "SG", "tel": "010-1123-1234"},
                        ]
                    }
                }
            }).mount("#app")
        </script>
    </body>
</html>