<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta nema="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>03-03</title>
</head>
<body>
    <div id = "app">
        예금액 : <input type="text" v-model="amount"/>
        <img v-if="amount < 0"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmWru8q17zpOzzzT1s475ZS_8fOL1GS0teSw&s"
            title = "no minus"
            style="width:15px; height:15px; vertical-align: middle" />
    </div>
    <script type="text/javascript" src = "https://unpkg.com/vue"></script>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name : "App",
            data(){
                return {
                    amount : ""
                };
            }
        }).mount('#app')
    </script>
</body>


</html>