@charset "utf-8";

:root {
    --color-yellow :#e3bf0b;
    --color-red :#db5b5b;
    --color-blue :#2792FE;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	font-family:'Noto Sans KR','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움','Dotum','굴림','Gulim','AppleGothic','Sans-serif';
	font-weight:400;
}

/* text */
.fc-blue {color:var(--color-blue);}
.fc-red {color:var(--color-red);}
.fc-yellow {color:var(--color-yellow);}

/* HTML5 display-role reset for older browsersn */
article,aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
html {font-size:10px; /* overflow-y:auto; */ overflow: hidden; -webkit-box-sizing:border-box; box-sizing:border-box;}
html:has(.b-scroll) {overflow: auto !important;}

body {line-height:1; font-size:1.6rem; color:#222222;overflow: hidden;}
body:has(.default-inner) {overflow: initial;}
.b-scroll {overflow: initial;}
address, em, i {font-style:normal;}
p, span, a, h1, h2, h3, h4, h5, h6, ul, li, tr, td, input, select, textarea, figure, blockquote {transform:skew(0deg);}
ul, ol, li, dl, dt, dd {margin:0; padding:0; list-style:none;}
blockquote, q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:""; content:none;}
table {border-collapse:collapse; border-spacing:0;}
caption {overflow:hidden; width:1px; height:1px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; position:static;}
input, select, button, textarea, optgroup {font-family:'Noto Sans KR','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움','Dotum','굴림','Gulim','AppleGothic','Sans-serif'; margin:0; font-size:inherit; color:inherit;  height:3.8rem; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input::placeholder, select::placeholder, textarea::placeholder, input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder, input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {font-family:'Noto Sans KR','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움','Dotum','굴림','Gulim','AppleGothic','Sans-serif'; color:#bbbbbb;}
input {border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; border:1px solid #dedede;}
input[type=submit], input[type=button], input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=date], input[type=datetime-local], textarea, select {box-sizing:content-box;-ms-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box; box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; vertical-align:middle; border:1px solid #cccccc; border-radius:4px; font-size:1.5rem;}
input:focus, textarea:focus {outline:none;}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=datetime-local]:focus, textarea:focus {box-shadow:0 0 0 1px #343434; /*background-color:#ffffff; */}
input[type=submit], input[type=button] {cursor:pointer;}
input[type="checkbox"], input[type="radio"] {vertical-align:middle; width:2.0rem; height:2.0rem; margin:0; opacity:.3; appearance: auto; -webkit-appearance:auto; -moz-appearance: auto;}
input[type="checkbox"]:checked, input[type="radio"]:checked {opacity:1; accent-color:#242424;}
input[type="color"] {-webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; border:none; height:3.4rem;}
input[type="color"]:-webkit-color-swatch,
input[type="color"]::-moz-color-swatch {border-radius: 0.4rem; border:none;}


select {text-transform:none; display:block; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; background:url('../images/default/common/select_arrow.svg') no-repeat calc(100% - 0.8rem) 52%/12px auto; border:1px solid #dedede;}
select:focus {outline:none; box-shadow:0 0 0 1px #343434;}
select::-ms-expand {display:none;}
button {background:none; cursor:pointer; line-height:inherit; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;}
:before, :after {content:''; display:none;}

select:disabled {opacity: 0.5;}

p, span {word-wrap:break-word; word-break:keep-all;}
a {color:inherit; text-decoration:none; cursor:pointer;}

.dis-none {display:none; position:absolute; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0px; color:transparent; line-height:0; left:-9999px; top:-9999px; overflow:hidden;}
.dis-block {display:block !important;}

.bold {font-weight:600;}
.extra-bold, strong {font-weight:700;}
.underline {text-decoration:underline;}
.relative {position:relative;}
.enterline {display:block;}

.left {text-align:left !important;}
.center {text-align:center !important;}
.right {text-align:right !important;}
.justify {text-align:justify !important;}
.flex-start {display:flex; justify-content:flex-start !important; align-items:center;}
.flex-center {display:flex; justify-content:center !important; align-items:center;}
.flex-end {display:flex; justify-content:flex-end !important; align-items:center;}
.flex-between {display:flex; justify-content:space-between !important; align-items:center;}

.ellipsis {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-break:break-all;}
.ellipsis-2 {white-space:inherit; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; word-wrap:break-word; word-break:keep-all; -webkit-line-clamp:2;}
.ellipsis-3 {white-space:inherit; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; word-wrap:break-word; word-break:keep-all; -webkit-line-clamp:3;}
.ellipsis-4 {white-space:inherit; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; word-wrap:break-word; word-break:keep-all; -webkit-line-clamp:4;}
 
.overflow-y {overflow-y: auto;}

.no-area-info {display: flex; align-items: center; justify-content: center;}
.empty-area {font-size:1.3rem; text-align:center;}

/* 스크롤바 모서리 공간 */
::-webkit-scrollbar-corner {background:transparent !important;}

/* 레이어팝업 시 스크롤 숨기 */
html:has(.scroll-off){overflow: hidden !important;}

/* table */
.grid-wrap {height:100%;}
.tb-no-cont {cursor: default !important;}

/* swiper scroll */
.swiper-scrollbar-horizontal {display:none;}

/* 오른쪽영역 펼침,닫힘 */
.c-main-mid-wrap:has(.r-area-open.tab-h-on) + .c-main-right-wrap {display:block;}

/* layer pop */
.c-cont-wrap:has(.layer-pop) .layer-pop {width:100%; height:100%; position:fixed; top:0; right:0; z-index: 999;}
.c-cont-wrap:has(.layer-pop) .layer-pop-bg {height: calc(100% - 2.0rem);}
.layer-pop { transition:all ease 0.2s 0s;}
.layer-pop.on {display:flex; position:fixed; top:0; left:0; right:0; bottom:0; z-index:10000;}
.layer-pop-bg {padding:1.0rem 0;min-height:calc(100vh - 48px);align-items:center;display:flex;justify-content:center;background:rgba(0,0,0,.5);width:100%;flex-wrap:wrap;overflow-y:auto;flex-direction:row;}

.lp-input-item:has(.input-title) label,
.lp-input-item:has(.input-title) .lp-input-item-label {cursor: default; display: flex; width: calc(100% - 1.0rem) !important; align-items: center; padding: 0 0 0 1.0rem !important;}
.lp-input-item:has(.input-title) label > .input-title,
.lp-input-item:has(.input-title) .lp-input-item-label > .input-title {width:11.4rem !important; margin-right:0.6rem; line-height: 1.2; display: block; font-weight: 400;}
.lp-input-item:has(.input-title) label input[type=text],
.lp-input-item:has(.input-title) label input[type=number],
.lp-input-item:has(.input-title) label input[type=tel],
.lp-input-item:has(.input-title) label input[type=email],  
.lp-input-item:has(.input-title) label input[type=password],
.lp-input-item:has(.input-title) label input[type=date],
.lp-input-item:has(.input-title) label select,
.lp-input-item:has(.input-title) label textarea,
.lp-input-item:has(.input-title) .lp-input-item-label input[type=text],
.lp-input-item:has(.input-title) .lp-input-item-label input[type=number],
.lp-input-item:has(.input-title) .lp-input-item-label input[type=tel],
.lp-input-item:has(.input-title) .lp-input-item-label input[type=email],
.lp-input-item:has(.input-title) .lp-input-item-label input[type=password],
.lp-input-item:has(.input-title) .lp-input-item-label input[type=date],
.lp-input-item:has(.input-title) .lp-input-item-label select,
.lp-input-item:has(.input-title) .lp-input-item-label textarea {width:calc(100% - 12.0rem) !important;}
.lp-input-item:has(.input-title) label input[type=checkbox] + select,
.lp-input-item:has(.input-title) label input[type=radio] + select,
.lp-input-item:has(.input-title) .lp-input-item-label input[type=checkbox] + select,
.lp-input-item:has(.input-title) .lp-input-item-label input[type=radio] + select  {width:calc(100% - 15rem) !important; margin-left:1rem !important;}

.lp-input-item label:has(input) select {width:calc(30%) !important;}
.lp-input-item label:has(input) select + input {width:calc(70% - 0.6rem) !important; margin-left:0.6rem}  

.lp-input-item:has(.input-btn) label {width:auto !important; flex-grow:1} 
.lp-input-item .input-btn {margin:0 0 0 0.8rem;}

.layer-pop-inner .grid-wrap { overflow-y:auto; overflow-x:auto; /* height:calc(100% - 4.6rem); */}
.layer-pop-inner .lp-cont-wrap:has(.grid-wrap) { margin:2.6rem 0 1.8rem 0;}
#point-check .layer-pop-inner .lp-cont-wrap {height:46.0rem; margin:2.6rem 0;}
#point-check .layer-pop-inner .lp-cont-wrap .flex-col02 {height:100%;}
#point-check .layer-pop-inner .grid-wrap {height:calc(100% - 6.6rem);}
.flex-col02,
.flex-col03 {height:100%; display:flex; flex-wrap:wrap; justify-content:flex-start; align-items:flex-start;}
.flex-row02,
.flex-row03,
.flex-row04 {display:flex; flex-wrap:wrap; justify-content:space-between; align-items:flex-start; flex-direction:column;}

#lp-cont-col02 .grid-wrap { height:calc(100%);}

.lp-cont-inner.flex-col02 > div {width:48.5% !important;}
.lp-cont-inner.flex-col02 > div:nth-child(2n) {margin-left:3%;}
.lp-cont-inner.flex-col02 label {width:14.0rem;}
.lp-cont-inner.flex-col02 > div:nth-last-child(2) {margin-bottom:0;}

.flex-row02 > div:first-child {height:calc(50% - 1.0rem) !important; width:100%;}
.flex-row02 > div:last-child {height:calc(50% - 1.0rem) !important; width:100%;}

.flex-row02 .tab-cont-type01,
.flex-row02 .tab-cont-type01 > div,
.flex-row02 .tab-cont-type01 > div > div,
.flex-row02 .tab-cont-type01 > div > div > div,
.flex-row02 .tab-cont-type01 > div > div > div > div {height:100%; width:100%;}

.flex-row03 {height:100%;}
.flex-row03 > div {height:calc(26% - 1.0rem); width:100%;}

.flex-row04 {height:100%;}
.flex-row04 > div {height:calc(25% - 1.5rem); width:100%;}
.flex-row04:has(.lp-height40) > div {height:calc((60% / 3) - 1.5rem); width:100%;}
.flex-row04:has(.lp-height50) > div {height:calc((50% / 3) - 1.0rem); width:100%;}

.lp-filter .lp-height40 {height:calc(40% - 1.0rem) !important;}
.lp-filter .lp-height50 {height:calc(50%) !important;}

.flex-col03 > .lp-area {height: 100%; padding: 0 2.0rem; box-sizing: border-box;}
.flex-col03 > .lp-area:nth-child(1) {padding-left:0 !important;}
.flex-col03 > .lp-area:nth-child(1),
.flex-col03 > .lp-area:nth-child(2) {width:calc(25%);}
.flex-col03 > .lp-area:nth-child(3) {width:calc(50%); padding-right:0 !important;}

.lp-left-area > div,
.lp-left-area > div > .lp-tab-cont > div,
.lp-left-area > div > .lp-tab-cont > div > div,
.lp-left-area > div > .lp-tab-cont > div > div > div,
.lp-left-area > div > .lp-tab-cont > div > div > div > div {height:100%;}

.layer-pop .tab-c-item {background: none !important;}

#lp-cont-col02 .layer-pop-inner {width:76.0rem;}
#project-create .layer-pop-inner {width:60.0rem;}
#system-preference .layer-pop-inner {width:50.0rem;}
#process-add .layer-pop-inner {width:76.0rem;}
#rtu-add .layer-pop-inner {width:76.0rem;}
#calculation-add .layer-pop-inner {width:76.0rem;}
#point-check .layer-pop-inner {width:86.0rem; min-height: 64rem;}

.lp-width50 .layer-pop-inner{width:50.0rem;}
.lp-width60 .layer-pop-inner{width:60.0rem;}
.lp-width76 .layer-pop-inner{width:76.0rem;}
.lp-width86 .layer-pop-inner{width:86.0rem;}
.lp-width98 .layer-pop-inner{width:98.0rem;}
.lp-height64 .layer-pop-inner{min-height:64.0rem;}
.lp-height40 .layer-pop-inner .lp-cont-inner {height:40vh; overflow-y: auto;}

#point-check .tui-tree-wrap {overflow-y:auto; height:100%;}
.lp-left-area .lp-tab-cont {height:calc(100% - 4.6rem);}

#point-check .tab-head-type01 > .tab-h-list li a {padding:0.6rem 0.8rem 1.0rem 0.8rem;}
.lp-tab-cont02 .lp-cont-inner {margin:0.8rem 0 0 0;}

.lp-filter .kgrid-pop-wrap {height:calc(100% - 2.4rem);}
.lp-filter .kgrid-pop-wrap .lp-flex-wrap {height:100%;}
.lp-filter .layer-pop-inner {width:80vw; height:90vh;}
.lp-filter .layer-pop-inner .lp-cont-wrap {height:calc(100% - 14.8rem);}
.lp-filter .layer-pop-inner .lp-cont-inner {margin:1.2rem 0 0 0; height: calc(100% - 5rem); overflow-y: auto; padding:0 0.8rem 0 0;}
.lp-filter .layer-pop-inner .lp-cont-inner:has(.mn-tree-wrap) {padding:0; margin-top:1.0rem;}
.lp-filter .layer-pop-inner .lp-cont-inner:has(.grid-wrap) {padding:0; height:calc(100% - 9.0rem);}
.lp-filter .layer-pop-inner .lp-input-item {margin-bottom:0.4rem;}
.lp-filter .layer-pop-inner .lp-input-item:has(input[type="checkbox"]) {margin-bottom:0.8rem;}
.lp-filter .lp-input-item:has(input[type="checkbox"]) label {padding:0;}
.lp-filter .lp-input-item:has(input[type="checkbox"]) label:before {display: none;}
.lp-filter .layer-pop-inner .grid-wrap {height: 100%;}
.lp-input-item:has(input[type="checkbox"]) label span {padding-left:0.8rem; width:calc(100% - 2.6rem) !important;}

.lp-point .kgrid-pop-wrap {height:calc(100% - 2.4rem);}
.lp-point .kgrid-pop-wrap .lp-flex-wrap {height:100%;}
.lp-point .layer-pop-inner {width: 98.0rem; height: 90vh;}
.lp-point .layer-pop-inner .lp-cont-wrap {height:calc(100% - 14.8rem);}
.lp-point .layer-pop-inner .lp-cont-inner {margin:1.0rem 0 0 0; height: calc(100% - 5rem); /* overflow-y: auto; padding:0 0.8rem 0 0; */}
.lp-point .layer-pop-inner .lp-cont-inner:has(.mn-tree-wrap) {height: 100%; padding:0; overflow-y: auto;}
.lp-point .tab-cont-type {height:calc(100% - 4.6rem);}
.lp-point .tab-c-item-wrap,
.lp-point .tab-c-item-inner {height:100%;}

.lp-search-input + .grid-wrap {height:calc(100% - 3.8rem);}

/* 화면저작도구 popup */
.lp-hmi-prop .kgrid-pop-wrap {height:calc(100% - 2.4rem);}
.lp-hmi-prop .kgrid-pop-wrap .lp-flex-wrap {height:100%;}
.lp-hmi-prop .layer-pop-inner {/* width: 98.0rem; height: 70.0rem; */}
.lp-hmi-prop .layer-pop-inner .lp-cont-wrap {height:calc(100% - 14.8rem);}
.lp-hmi-prop .layer-pop-inner .lp-cont-inner {margin:1.2rem 0 0 0; height: calc(100% - 5rem); overflow-y: auto; padding:0 0.8rem 0 0;}

.lp-list-item {width:100%; cursor: pointer;}
.lp-point-item {display: flex; align-items: center; justify-content: flex-start; margin-bottom:0.1rem; font-size:1.4rem; padding: 0.5rem 0.5rem 0.5rem 0.8rem; box-sizing: border-box;}
.lp-point-item:last-child {margin-bottom:0;} 
.color-status {display: block; width:1.8rem; height:1.8rem; font-size:1.4rem; border-radius: 0.2rem; margin-right:0.8rem;}
.lp-point-item > span:last-child {width:calc(100% - 2.6rem);}

.lp-left-area:has(.lp-table-btn-wrap),
.lp-area-item:has(.lp-table-btn-wrap) {position: relative;}
.lp-table-btn-wrap {display: flex; justify-content: end; padding:0; flex-wrap: wrap; position: absolute; top:0.5rem; right:0.6rem;}
.lp-table-btn-wrap > button {height: 2.5rem !important; line-height: 2.0rem !important; min-width: auto !important; font-size:1.4rem;}
.lp-table-btn-wrap > button:last-child {margin-right:0;}
.lp-table-item .grid-table {padding-top:1.6rem;}
.layer-pop-inner .grid-table select {width:100% !important;}

.lp-color-prop .layer-pop-inner {width: 98.0rem; height: 90vh;}
.lp-color-prop .flex-row02,
.lp-chart-prop .flex-row02 {justify-content: flex-start;}
.lp-color-prop .flex-row02 > div:first-child,
.lp-chart-prop .flex-row02 > div:first-child {height:auto !important;}
.lp-color-prop .flex-row02 > div:last-child,
.lp-chart-prop .flex-row02 > div:last-child {flex:1;}
.lp-color-prop .flex-row02 > div:first-child .lp-cont-inner,
.lp-chart-prop .flex-row02 > div:first-child .lp-cont-inner {margin:1.8rem 0 2.2rem 0;}

.lp-command-prop .layer-pop-inner {width: 98.0rem; height: 90vh;}
.lp-chart-prop .layer-pop-inner {width: 98.0rem; height: 75.0rem;}

.lp-item-button-wrap {display: flex; justify-content: flex-start; padding:0; flex-wrap: wrap; width:auto !important;}
.lp-item-button-wrap > button {margin-left:0.6rem; height: 3.4rem !important; line-height: 3.2rem !important; min-width: 6.0rem !important; font-size:1.4rem;}
.lp-item-button-wrap > button:last-child {margin-right:0;}

.lp-input-item:has(.lp-item-button-wrap) label {flex: 1;}

.tb-info-txt {font-size:1.3rem; color:var(--color-red); margin:1.0rem 0 0 0; text-align: right; display: block;}
.lp-hmi-prop .layer-pop-inner:has(.tb-info-txt) .lp-cont-inner:has(.grid-table) {margin-top:0.8rem; height: calc(100% - 6.3rem);}

.layer-pop-inner input[type="radio"] + .input-txt {margin:0 1.2rem 0 0.6rem;}
.lp-input-item:has(.input-title) label:has(.tb-check) {height:2.4rem;}

/* graph */
.graph-container-wrap {overflow: auto;}

.graph-container > svg {position:absolute;}
.mxRubberband {background-color:#848484; position:absolute;}

.swiper {overflow: unset !important;} 
.ruler-padding {top:2.0rem !important; left:2.0rem !important; width:calc(100% - 2.0rem); height:calc(100% - 2.0rem) !important; box-sizing: border-box; overflow: hidden; }

svg.highcharts-root { font-size: 1.6rem !important;  width:100% !important; height:fit-content !important; overflow: inherit !important;}
/* .highcharts-background {fill: transparent !important;} */
.theme-dark g.highcharts-axis-labels > text, 
.theme-dark g.highcharts-legend-item > text,
.theme-dark text.highcharts-axis-title { fill:#ffffff !important;}
.theme-dark g.highcharts-label > text {font-weight:500 !important; fill:#ffffff;}
.theme-dark g.highcharts-label > text > tspan {stroke: transparent !important;}
.theme-dark .highcharts-data-label > text {fill:#ffffff !important;}

.theme-dark .hmi-input-type {border:1px solid #0fbcb6 !important; background-color: #1C1E22; box-sizing: border-box; color:#0fbcb6; border-radius: 0; width:100%; height:100%;}
.theme-dark .hmi-input-type:focus {outline:none !important; border:1px solid #0fbcb6 !important;background-color: #1C1E22 !important; }
.theme-dark .hmi-input-type:read-only {border:1px solid #0fbcb6 !important; background-color: transparent !important; box-sizing: border-box; color:#0fbcb6;}
.theme-dark .hmi-label-text {color:#0fbcb6 !important;}
.theme-dark .hmi-input-type:read-only:focus {box-shadow: none; outline: none !important;}

.theme-light g.highcharts-axis-labels > text, 
.theme-light g.highcharts-legend-item > text,
.theme-light text.highcharts-axis-title  {fill:#444444 !important;}
.theme-light g.highcharts-label > text {font-weight:500!important; fill:#444444 !important;}
.theme-light g.highcharts-label > text > tspan {stroke: transparent !important; fill:#333333 !important;}

.theme-light .hmi-input-type {border:1px solid #19a09b !important; background-color: #ffffff; box-sizing: border-box; color:#19a09b; border-radius: 0; width: 100%; height:100%;}
.theme-light .hmi-input-type:focus {outline:1px solid #ffffff; border:1px solid #19a09b !important;background-color: #ffffff !important; }
.theme-light .hmi-input-type:read-only {border:1px solid #19a09b !important; background-color: transparent !important; box-sizing: border-box; color:#19a09b;}
.theme-light .hmi-label-text {color:#19a09b !important; }
.theme-light .hmi-input-type:read-only:focus {box-shadow: none; outline: none !important;}

.highcharts-tooltip-box + text,
.highcharts-tooltip-box + text > tspan {fill:#222222;}

.hmi-label-box {display: flex; justify-content: center; align-items: center;}
.hmi-label-box br {display: none;}
.hmi-label-box input,
.hmi-label-box label {margin-top:-0.1rem;}
.hmi-label-box input:first-of-type,
.hmi-label-box label:first-of-type {margin-top:0;}
.hmi-label-item:has(input) {flex:1}
.hmi-label-box:has(.hmi-label-col) .hmi-label-item:first-child {margin-top:2.1rem;}
.hmi-label {display:flex; align-items: center; width: 100% !important;}
.hmi-label.s-left {margin-right:0.4rem; text-align: right;}
.hmi-label.s-right {margin-left:0.4rem; text-align: left;}
.hmi-label-col {display: block; width:100%; height:2.1rem;}

.hmi-c-command-btn br,
.hmi-command-btn br {display: none; width:0; height:0;}
.hmi-c-command-btn {display: flex; width:100%; align-items: center;}
.hmi-c-command-btn > input {height:100%; min-height:3.2rem; border:1px solid #868686 !important; margin-right:0.4rem; font-size:1.2rem; padding:0.4rem 0.6rem; color:#222222; width: 60% !important; flex:1;}
.hmi-command-btn {display: flex; width:100%; height:100%;}
.hmi-command-btn > button {flex:1; width:100%;}
.btn-hmi {height:100%; width: auto; display: block; padding:0.4rem 1.2rem; font-size:1.2rem; min-height:3.2rem;}

.theme-dark .btn-hmi {color:#333333 !important;background: #e6e6e6;}
.theme-light .btn-hmi {color:#ffffff !important;background: #777777;}
.theme-dark .btn-hmi:hover {background: #2792FE; color:#ffffff !important; transition:all ease 0.1s 0s;}
.theme-light .btn-hmi:hover {background: #555555; transition:all ease 0.1s 0s;}

.theme-light .hmi-c-command-btn > input:focus {border:1px solid #333333 !important; box-shadow: 0 0 0 transparent;}


g.highcharts-axis-labels.compass-chart > text, 
g.highcharts-yaxis-labels.compass-chart > text {fill:#444444 !important;}

.highcharts-credits {fill:transparent !important}

rect.ees-gauge-positive-terminal,
rect.eesCustomCreditsImg {x:25% !important; width:50% !important;}


/* margin */
.mtop0 {margin-top:0px !important;}
.mtop5 {margin-top:5px !important;}
.mtop10 {margin-top:10px !important;}
.mtop20 {margin-top:20px !important;}
.mtop30 {margin-top:30px !important;}
.mtop40 {margin-top:40px !important;}
.mtop50 {margin-top:50px !important;}
.mtop60 {margin-top:60px !important;}
.mtop70 {margin-top:70px !important;}
.mtop80 {margin-top:80px !important;}
.mtop90 {margin-top:90px !important;}
.mtop100 {margin-top:100px !important;}

.mbtm0 {margin-bottom:0px !important;}
.mbtm5 {margin-bottom:5px !important;}
.mbtm10 {margin-bottom:10px !important;}
.mbtm20 {margin-bottom:20px !important;}
.mbtm30 {margin-bottom:30px !important;}
.mbtm40 {margin-bottom:40px !important;}
.mbtm50 {margin-bottom:50px !important;}
.mbtm60 {margin-bottom:60px !important;}
.mbtm70 {margin-bottom:70px !important;}
.mbtm80 {margin-bottom:80px !important;}
.mbtm90 {margin-bottom:90px !important;}
.mbtm100 {margin-bottom:100px !important;}

.mleft0 {margin-left:0px !important;}
.mleft5 {margin-left:5px !important;}
.mleft10 {margin-left:10px !important;}
.mleft20 {margin-left:20px !important;}
.mleft30 {margin-left:30px !important;}
.mleft40 {margin-left:40px !important;}
.mleft50 {margin-left:50px !important;}
.mleft60 {margin-left:60px !important;}
.mleft70 {margin-left:70px !important;}
.mleft80 {margin-left:80px !important;}
.mleft90 {margin-left:90px !important;}
.mleft100 {margin-left:100px !important;}

.mright0 {margin-right:0px !important;}
.mright5 {margin-right:5px !important;}
.mright10 {margin-right:10px !important;}
.mright20 {margin-right:20px !important;}
.mright30 {margin-right:30px !important;}
.mright40 {margin-right:40px !important;}
.mright50 {margin-right:50px !important;}
.mright60 {margin-right:60px !important;}
.mright70 {margin-right:70px !important;}
.mright80 {margin-right:80px !important;}
.mright90 {margin-right:90px !important;}
.mright100 {margin-right:100px !important;}

/* padding */
.ptop5 {padding-top:5px !important;}
.ptop10 {padding-top:10px !important;}
.ptop20 {padding-top:20px !important;}
.ptop30 {padding-top:30px !important;}
.ptop40 {padding-top:40px !important;}
.ptop50 {padding-top:50px !important;}
.ptop60 {padding-top:60px !important;}
.ptop70 {padding-top:70px !important;}
.ptop80 {padding-top:80px !important;}
.ptop90 {padding-top:90px !important;}
.ptop100 {padding-top:100px !important;}

.pbtm5 {padding-bottom:5px !important;}
.pbtm10 {padding-bottom:10px !important;}
.pbtm20 {padding-bottom:20px !important;}
.pbtm30 {padding-bottom:30px !important;}
.pbtm40 {padding-bottom:40px !important;}
.pbtm50 {padding-bottom:50px !important;}
.pbtm60 {padding-bottom:60px !important;}
.pbtm70 {padding-bottom:70px !important;}
.pbtm80 {padding-bottom:80px !important;}
.pbtm90 {padding-bottom:90px !important;}
.pbtm100 {padding-bottom:100px !important;}

.pleft0 {padding-left:0 !important;}
.pleft5 {padding-left:5px !important;}
.pleft10 {padding-left:10px !important;}
.pleft20 {padding-left:20px !important;}
.pleft30 {padding-left:30px !important;}
.pleft40 {padding-left:40px !important;}
.pleft50 {padding-left:50px !important;}
.pleft60 {padding-left:60px !important;}
.pleft70 {padding-left:70px !important;}
.pleft80 {padding-left:80px !important;}
.pleft90 {padding-left:90px !important;}
.pleft100 {padding-left:100px !important;}

.pright5 {padding-right:5px !important;}
.pright10 {padding-right:10px !important;}
.pright20 {padding-right:20px !important;}
.pright30 {padding-right:30px !important;}
.pright40 {padding-right:40px !important;}
.pright50 {padding-right:50px !important;}
.pright60 {padding-right:60px !important;}
.pright70 {padding-right:70px !important;}
.pright80 {padding-right:80px !important;}
.pright90 {padding-right:90px !important;}
.pright100 {padding-right:100px !important;}


/* width */
.w-auto {width:auto !important; min-width:auto !important;}
.w5 {width:5% !important;}
.w10 {width:10% !important;}
.w15 {width:15% !important;}
.w20 {width:20% !important;}
.w25 {width:25% !important;}
.w30 {width:30% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w50 {width:50% !important;}
.w55 {width:55% !important;}
.w60 {width:60% !important;}
.w65 {width:65% !important;}
.w70 {width:70% !important;}
.w75 {width:75% !important;}
.w80 {width:80% !important;}
.w85 {width:85% !important;}
.w90 {width:90% !important;}
.w95 {width:95% !important;}
.w100 {width:100% !important;}


/* 인쇄 */
@media print {
	* {
		-webkit-print-color-adjust: exact !important; /* Chrome, Safari */
		color-adjust: exact !important; /*Firefox*/
		float: none !important;
	  }	
}