
<script setup>
import "@/assets/css/common.css";
import "@/assets/css/font.css";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import { provide, ref } from "vue";
import { register } from "swiper/element";
import { provideDictionary } from "@/utils/dictionary.js";

register(); // swiper global setting.

const baseURL = import.meta.env.BASE_URL;
console.log("Base URL: " + baseURL);

const theme = ref(null);
const loadTheme = () => {
  theme.value = localStorage.getItem("theme") || "theme-dark";
  document.body.className = theme.value;
};

const publicPath = process.env.NODE_ENV === "production" ? "/" : "/";
console.log("Public path: " + publicPath);

loadTheme();
const lang = localStorage.getItem("lang");
if (!lang) localStorage.setItem("lang", "ko-KR");

//provide("loadTheme", loadTheme);
//provide("theme", theme);
provide("publicPath", publicPath);
provideDictionary();
</script>



<template>
  <router-view />
</template>

<style scoped>
</style>

<style src="@/assets/css/light-theme-green.css"></style>
<style src="@/assets/css/default-theme.css"></style>