<template>
  <div id="app" class="container">
    이름 : <input type="text" v-model.trim="type" placeholder="두글자" /><br />
    <ul>
      <li v-for="c in ceq" :key="c.id">
        {{ c.conductingEquipmentId }} : {{ c.type }}
      </li>
    </ul>
  </div>
</template>


<script>
import axios from "axios";
import _ from "lodash";

const BASEURL = "http://localhost:8070/scl/conducting-equipment";

export default {
  name: "App",
  data() {
    return { type: "", ceq: [], isLoading: false };
  },
  watch: {
    type(current) {
      if (current.length >= 2) {
        this.fetchCeq();
      } else {
        this.ceq = [];
      }
    },
  },
  methods: {
    fetchCeq: _.debounce(function () {
      this.isLoading = true;
      axios
        .get(BASEURL + `?whereCond=where%20type="${this.type}"`)
        .then((response) => {
          this.isLoading = false;
          this.ceq = response.data.item;
        });
    }, 300),
  },
};
</script>
