<script setup>
import {ref, inject, onMounted} from 'vue'
import axios from '@/utils/axios.js'
import { useDictionary } from '@/utils/dictionary.js'
import { useI18n } from 'vue-i18n'

const { t, locale } = useI18n()

defineProps({
  modelValue: Boolean,
  isInner: Boolean
})
const emit = defineEmits(['update:modelValue'])

const tab = ref(1)
const loadTheme = inject('loadTheme')
const dictionary = useDictionary()
const host = ref(localStorage.getItem('host'))
const lang = ref(localStorage.getItem('lang'))
const oldLang = lang.value
const theme = ref(localStorage.getItem('theme'))
if ( !theme.value ) theme.value = 'theme-dark'

function close() {
  emit('update:modelValue', false)
}

function save() {
  // Server.
  if ( !host.value.startsWith('http://') && !host.value.startsWith('https://') ) {
    host.value = 'http://' + host.value
  }
  localStorage.setItem('host', host.value)
  axios.defaults.baseURL = host.value

  // Theme.
  localStorage.setItem('lang', lang.value)
  locale.value = lang.value
  localStorage.setItem('theme', theme.value)
  if ( loadTheme ) {
    loadTheme()
  }
  if ( dictionary ) {
    dictionary.setLang(lang.value)
  }

  if ( oldLang !== lang.value ) {
    location.reload()
  }
  else {
    close()
  }
}
</script>

<template>
  <div class="layer-pop on" :class="{ 'lp-blue': !isInner }" id="system-preference" role="dialog" aria-modal="true" aria-label="환경설정">
    <div class="layer-pop-bg">
      <div class="layer-pop-inner">
        <div class="kgrid-pop-wrap">
          <h3 class="h3-tit">{{ t('CO_MAIN_Menu_Home_Config') }}</h3>
          <div class="lp-cont-wrap">
            <!-- 탭 컨텐츠 :s -->
            <div class="tab-wrap">
              <!-- tab head :s -->
              <div class="tab-head-type01 lp-tab-default">
                <ul class="tab-h-list">
                  <li :class="{ 'tab-h-on' : tab===1 }">
                    <a href="#lpTab1" class="t-tit" @click.prevent="tab=1">
                      {{ t('CO_HMI_Option_Tab_Server') }}
                    </a>
                  </li>
                  <li :class="{ 'tab-h-on' : tab===2 }">
                    <a href="#lpTab2" class="t-tit" @click.prevent="tab=2">
                      {{ t('CO_HMI_Option_Tab_UI') }}
                    </a>
                  </li>
                </ul>
              </div>
              <!-- tab head :e -->

              <!-- tab cont :s -->
              <div class="tab-cont-type01 lp-tab-cont">
                <!-- tab1 :s -->
                <div class="tab-c-item" v-show="tab===1">
                  <div class="tab-c-item-wrap">
                    <div class="tab-c-item-inner">

                      <div class="lp-cont-inner b-scroll">
                        <div class="lp-input-item">
                          <label for="serviceHost">{{ t('CO_HMI_Option_Tab_Server_URL') }}</label>
                          <div class="input-wrap">
                            <input type="text" name="serviceHost" id="serviceHost"
                                   v-model="host" @keyup.enter="save">
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- tab1 :e -->

                <!-- tab2:s -->
                <div class="tab-c-item" v-show="tab===2">
                  <div class="tab-c-item-wrap">
                    <div class="tab-c-item-inner">

                      <div class="lp-cont-inner b-scroll">
<!--                        <div class="lp-input-item">-->
<!--                          <label for="projectCopy">폰트</label>-->
<!--                          <div class="select-wrap">-->
<!--                            <select name="projectCopy" id="projectCopy" class="select-type02" v-model="font">-->
<!--                              <option value="font1">font1</option>-->
<!--                              <option value="font2">font2</option>-->
<!--                            </select>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="lp-input-item">-->
<!--                          <label for="projectName">폰트크기</label>-->
<!--                          <div class="input-wrap">-->
<!--                            <input type="number" name="projectName" id="projectName" v-model="fontSize">-->
<!--                          </div>-->
<!--                        </div>-->
                        <div class="lp-input-item">
                          <label for="projectCopy">{{ t('CO_HMI_Option_Tab_UI_Localization') }}</label>
                          <div class="select-wrap">
                            <select name="projectCopy" id="projectCopy" class="select-type02" v-model="lang">
                              <option value="ko-KR">한국어(대한민국)</option>
                              <option value="en-US">English</option>
                              <option value="vi-VN">Vietnam</option>
                            </select>
                          </div>
                        </div>
                        <div class="lp-input-item">
                          <label for="projectTheme">{{ t('CO_MAIN_Menu_Home_Theme') }}</label>
                          <div class="select-wrap">
                            <select name="projectTheme" id="projectTheme" class="select-type02" v-model="theme">
                              <option value="theme-dark">Dark</option>
                              <option value="theme-light">Light</option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- tab2:e -->

              </div>

              <!-- tab cont :e -->
            </div>
            <!-- 탭 컨텐츠 :e -->
          </div>
          <div class="btn-wrap flex-center">
            <button class="btn btn-type02" :aria-label="t('CO_Button_Apply')" @click="save">{{ t('CO_Button_Apply') }}</button>
            <button class="btn btn-gray" :aria-label="t('CO_Button_Close')" @click="close">{{ t('CO_Button_Close') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
