@charset "utf-8";

/* NotoSans KR */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSansKR-Thin'),
    url('fonts/notosans/eot/NotoSansKR-Thin-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-Thin-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-Thin-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-Thin-Hestia.otf') format('opentype');
    font-display: auto;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSansKR-Light'), 
    url('fonts/notosans/eot/NotoSansKR-Light-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-Light-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-Light-Hestia.otf') format('opentype');
    font-display: auto;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    src: local('NotoSansKR-DemiLight'), 
    url('fonts/notosans/eot/NotoSansKR-DemiLight-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-DemiLight-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-DemiLight-Hestia.otf') format('opentype');
    font-display: auto;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSansKR-Regular'), 
    url('fonts/notosans/eot/NotoSansKR-Regular-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
    font-display: auto;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('NotoSansKR-Medium'), 
    url('fonts/notosans/eot/NotoSansKR-Medium-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-Medium-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-Medium-Hestia.otf') format('opentype');
    font-display: auto;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSansKR-Bold'), 
    url('fonts/notosans/eot/NotoSansKR-Bold-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
    font-display: auto;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSansKR-Black'), 
    url('fonts/notosans/eot/NotoSansKR-Black-Hestia.eot'),
    url('fonts/notosans/eot/NotoSansKR-Black-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/notosans/woff/NotoSansKR-Black-Hestia.woff') format('woff'),
    url('fonts/notosans/otf/NotoSansKR-Black-Hestia.otf') format('opentype');
    font-display: auto;
}

