<script setup>
import { provide, ref, watch, watchEffect } from "vue";
import TopBox from "@/components/eng/layout/TopBox.vue";
import LeftBox from "@/components/eng/layout/LeftBox.vue";
import TabBox from "@/components/eng/layout/TabBox.vue";
import { useRoute } from "vue-router";
import axios from "@/utils/axios.js";
import {
  initTabStore,
  engTabStore,
} from "@/components/eng/utils/engTabStore.js";
import router from "@/router/index.js";

const route = useRoute();
const projectId = ref(route.params.projectId);

const projectList = ref([]);
const userNm = ref(localStorage.getItem("userNm"));
const userGrpId = localStorage.getItem("userGrpId");
const oldProjectId = ref(localStorage.getItem("projectId"));

const init = async () => {
  try {
    const response = await axios.get("/common/project?whereCond=");
    projectList.value = response.data.item;
  } catch (error) {
    console.log(error);
  }
};

init();
</script>

<template>
  <div id="wrap">
    <TopBox></TopBox>
    <main id="main">
      <div id="main-wrap">
        <LeftBox></LeftBox>
        <div id="cont-area" class="cont-area-wrap">
          <div class="cont-area-inner">
            <TabBox></TabBox>
            <router-view v-slot="{ Component }">
              <keep-alive>
                <component :is="Component" :key="route.path" />
              </keep-alive>
            </router-view>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<style scoped>
/* 인쇄 */
@media print {
  @page {
    size: a4 landscape;
    margin: 0;
    prince-shrink-to-fit: auto;
  }
}
</style>