<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta nema="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>05-02</title>
</head>
<body>
    <div id = "app">
        <input id ="a" type = "text" :value="name" @input="changeName">
        <br />
        이름 입력 : <span> {{name}} </span>
    </div>

    <script type = "text/javascript" src = "../js/vue.min.js"></script>
    <script type = "text/javascript">
        var vm = Vue.createApp({
            name : "App",
            data(){
                return {name : ""};
            },
            methods : {
                changeName(e){
                    console.log(e);
                    this.name = e.target.value;
                }
            }
        }).mount("#app")
    </script>
</body>