<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta nema="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>05-02</title>
</head>

<body>
    <div id = "app">
        금액 : <input type = "text" v-model.number="amount" /> <br />
        <button @click="deposit">입금</button>
        <button @click="withdraw">인출</button>
        <br />
        <h3> 계좌 잔고 : {{balance}} </h3>
    </div>
    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name : "App",
            data(){
                return { amount : 0, balance : 0 };
            },
            methods :{
                deposit(){
                    let amt = parseInt(this.amount);
                    if(amt <=0){
                        alert("0 보다 큰 값을 예금해야 합니다.")
                    } else {
                        this.balance += amt;
                    }
                },
                withdraw(){
                    let amt = parseInt(this.amount);
                    if (amt <=0 || Number.isNaN(amt)){
                        alert("0보다 큰 값을 인출할 수 있습니다");
                    } else if(amt > this.balance){
                        alert("잔고보다 많은 금액을 인출할 수 없습니다");
                    } else {
                        this.balance -= amt;
                    }
                }
            }
        }).mount('#app')
    </script>
</body>