<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01-01</title>
</head>

<body>
    <div id ="app">
        <h2>{{message}}</h2>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        var model = {message:"Hello Vue3!"};
        var vm = Vue.createApp({
            name : "App",
            data(){
                return model;
            }
        }).mount('#app')
    </script>
</body>
</html>