<template>
  <div class="wrapper">
    <header class="box header">
      <slot name="header"></slot>
    </header>
    <aside class="box sidebar">
      <slot name="sidebar"></slot>
    </aside>
    <section class="box content">
      <slot></slot>
    </section>
    <aside class="box sidebar">
      <slot name="sidebar2"></slot>
    </aside>
    <footer class="box footer">
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Layout",
};
</script>

<style scoped>
body {
  margin: 40px;
}
.sidebar {
  grid-area: sidebar;
}
.sidebar2 {
  grid-area: sidebar2;
  background-color: #d1d;
}
.content {
  grid-area: content;
  position: relative;
}
.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar content sidebar2"
    "footer footer footer";
  background-color: #f4f;
  color: #f23;
}

.box {
  background-color: #ddd;
  color: #444;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
}
</style>