<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta nema="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>04-08</title>
</head>

<body>
    <div id = "app">
        이름 : <input type = "text" v-model.trim="type" placeholder = "두글자" /><br/>
    <ul>
        <li v-for="c in ceq">{{c.conductingEquipmentId}} : {{c.type}}</li>
    </ul>

    <div v-show ="isLoading">검색중</div>

    </div>

    <script type = "text/javascript" src = "https://unpkg.com/vue"></script>
    <!-- <script type = "text/javascript" src = "https://unpkg.com/axios@1.7.7/dist/axios.min.js"></script> -->
    <script type = "text/javascript" src = "../utils/axios.min.js"></script>
    <script type = "text/javascript" src = "https://unpkg.com/lodash"></script>
    <script type = "text/javascript">

        const BASEURL = "http://localhost:8070/scl/conducting-equipment";
        var vm = Vue.createApp({
            name : "App",
            data(){
                return { type : "", ceq : [], isLoading : false }
            },
            watch :{
                type(current){
                    if(current.length >=2){
                        this.fetchCeq();
                    }
                    else {
                        this.ceq = [];
                    }
                }
            },
            methods : {
                fetchCeq : _.debounce(function(){
                    this.isLoading = true;
                    axios.get(BASEURL + `?whereCond=where%20type="${this.type}"`).then((response)=>{
                        this.isLoading = false;
                        this.ceq = response.data.item;
                    })
                }, 300)
            }
        }).mount('#app')
    </script>
</body>