<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta nema="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>03-03</title>
</head>
<body>
    <div id = "app">
        <input type = "text" v-model.number = "amt" /><br/>
        금액 : <span>{{amount}}원</span>
    </div>
    <script type="text/javascript" src ="../js/vue.min.js"></script>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name : "App",
            data(){
                return { amt : 99999 }
            },
            computed : {
                amount : {
                    get(){
                        var regexp = /\B(?=(\d{3})+(?!\d))/g;
                        return this.amt.toString().replace(regexp, ',');
                    },
                    set(amount){
                        var amt = parseInt(amount.replace(/,/g,""));
                        this.amt = Number.isNaN(amt) ? 0 : amt;
                    }
                }
            }
        }).mount("#app")
    </script>
</body>
</html>
