<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta nema="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>04-08</title>
</head>
<body>
    <div id = "app">
        입력 : <input name ="a" type="text" v-model.number = "num">
        <br/>
        Data : <span>{{num}}</span> <br/>
        결과 : <span>{{sum}}</span>
    </div>
    
<script type="text/javascript" src ="../js/vue.min.js"></script>
<script type="text/javascript">
    var vm = Vue.createApp({
        name: "App",
        data(){
            return{num : 0};
        },
        created(){
            console.log("## created")
        },
        mounted(){
            console.log("## mounted")
        },
        updated(){
            console.log("## updated")
        },
        computed : {
            sum(){
                var n = parseInt(this.num);
                if (Number.isNaN(n)) return 0;
                return (n * (n+1)) / 2
            }
        }
    }).mount('#app')
</script>
</body>