<script setup>
import { inject } from "vue";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
const { t } = useI18n();

defineProps({
  msg: String,
});

const router = useRouter();
const projectId = 112;
</script>

<template>
  <div class="contain-wrap">
    <div class="contain-inner">
      <!-- main-box :s -->
      <div class="contain-box main-box scroll">
        <div class="contain-box-inner main-box-inner">
          <!-- main-menu-wrap :s -->
          <div class="main-menu-wrap">
            <div class="mm-title-box">
              <p>ENG</p>
              <div>
                <span
                  >It is a commonly used SCADA platform for microgrid
                  environments.</span
                >
                <span
                  >We will do our best without limit or compromise for user's
                  stable system experience.</span
                >
              </div>
            </div>
            <!-- main-menu-box :s -->
            <div class="main-menu-box">
              <!-- 메인 메뉴 변경 :s  -->
              <div class="main-menu-inner">
                <div class="main-menu-item02">
                  <div class="mm-unit mm-mb-bg04"></div>
                  <div class="mm-unit mm-mb-bg03">
                    <!--                    <a href="" data-main-menu="mm-scl"><span>계통편집도구</span></a>-->
                  </div>
                  <div class="mm-unit-s-box">
                    <div class="mm-unit-s mm-mb-bg01"></div>
                    <div class="mm-unit-s mm-mb-bg05"></div>
                  </div>
                </div>
                <div class="main-menu-item01">
                  <div class="mm-unit mm-mb-bg05"></div>
                  <div class="mm-unit mm-mb-bg04"></div>
                </div>
                <div class="main-menu-item01">
                  <div class="mm-unit mm-mb-bg04"></div>
                  <div class="mm-unit mm-mb-bg03"></div>
                </div>
                <div class="main-menu-item01">
                  <!-- div class="mm-unit mm-mb-bg05">
                    <router-link data-main-menu="mm-plugin" :to="{ name: 'Plugin', params: { projectId: projectId } }">
                      <span>플러그인 프로그램 관리</span>
                    </router-link>
                  </ -->

                  <div class="mm-unit mm-mb-bg05"></div>

                  <div class="mm-unit mm-mb-bg02"></div>
                  <div class="mm-unit mm-mb-bg01"></div>
                </div>
                <div class="main-menu-item01">
                  <div class="mm-unit mm-mb-bg01"></div>
                  <div class="mm-unit mm-mb-bg02"></div>
                </div>
              </div>
              <!-- 메인 메뉴 변경 :e -->
            </div>
            <!-- main-menu-box :e -->
          </div>
          <!-- main-menu-wrap :e -->
        </div>
      </div>
      <!-- main-box :e -->
    </div>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
