<template>
    <li>
        <input type="checkbox" :checked = "idol.checked" @change="toggleCheck"/> {{idol.name}}
    </li>
</template>

<script>
import Idol from '../Idol';
export default {
    name : "CheckboxItem3",
    props : {
        idol: Idol,
    },
    methods:{
        toggleCheck(){
            this.$emit("toggle", this.idol.id);
        },
    },
}
</script>
